<div class="container">
    <form class="demo-form">
        <div>
            <h2>Picker with 12h format</h2>
            <mat-form-field>
                <input matInput
                       name="selected_time"
                       [(ngModel)]="selectedTime"
                       [ngxTimepicker]="pickerA"
                       placeholder="e.g. 12:00 PM" />
            </mat-form-field>
            <ngx-timepicker #pickerA></ngx-timepicker>
        </div>
        <div>
            <h2>Picker with 24h format</h2>
            <mat-form-field appearance="fill">
                <input matInput
                       name="selected_time"
                       [format]="24"
                       [(ngModel)]="selectedTime"
                       [ngxTimepicker]="pickerB"
                       placeholder="12:00"
                       readonly />
            </mat-form-field>
            <ngx-timepicker #pickerB></ngx-timepicker>
        </div>
        <div>
            <h2>ngx-timepicker-field</h2>
            <ngx-timepicker-field [defaultTime]="'11:11 AM'"></ngx-timepicker-field>
        </div>
    </form>
</div>