@use "@angular/material" as mat;

$light-theme: (
	color: (
		theme-type: light,
		primary: mat.$violet-palette,
		tertiary: mat.$cyan-palette
	),
	typography: Roboto, density: 0
);

$dark-theme: (
	color: (
		theme-type: dark,
		primary: mat.$rose-palette,
		tertiary: mat.$azure-palette
	),
	typography: Roboto, density: 0
);
