<mat-toolbar class="ngx-mtp-header mat-elevation-z6">
    <div>
        <img class="ngx-mtp-ng-logo"
             src="/assets/angular-white-transparent.svg"
             alt=""/>
        <span class="ngx-mtp-header-title"
              title="toggle locale">ngx-mat-timepicker</span>
    </div>
    <div>

    </div>
</mat-toolbar>
<div class="ngx-mtp-container">
    <div class="ngx-mtp-locales">
        <p>Dynamic locale (v >= 12.2.0)</p>
        <p>
            @for (locale of myLocaleKeys; track locale; let last = $last) {
                <button class="locale"
                        [class.active]="locale === currentLocaleKey"
                        (click)="updateLocale(locale)">{{ locale }}
                </button>
                @if (!last) {
                    <span class="separator"> | </span>
                }
            }
        </p>
        <button matButton="filled"
                (click)="updateLocale()">
            Next locale
        </button>
    </div>
    <form class="demo-form">
        @if (true) {
            <div>
                <h2>Picker with 12h format</h2>
                <p>using <span class="mat-color-primary">primary</span> color role</p>
                <code-viewer>
                    <div class="example ngx-mtp-d-flex ngx-mtp-align-center ngx-mtp-flex-column">
                        <ngx-mat-timepicker-field [format]="24"
                                                  [defaultTime]="time"
                                                  (timeChanged)="time = $event"
                                                  [min]="minTime"
                        ></ngx-mat-timepicker-field>
                        <p>{{ time }}</p>
                    </div>
                    <pre class="language-markup">
  <code>
  </code>
</pre>
                </code-viewer>
            </div>
        }
    </form>
</div>
<footer>
    <p>Created with ♥ by <a class="mat-color-tertiary"
                            href="https://tonysamperi.github.io"
                            target="_blank">Tony
        Samperi</a>
    </p>
    <p>© <span>{{ year }}</span> MIT License</p>
</footer>
