@import "code-highlight";

code-viewer {
  display: block;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

  * {
    box-sizing: border-box;
  }

  // The mat-card
  .code-viewer {
    //background-color: #F0F0F0;
    max-height: 100%;
    padding: 0 16px 16px;

    .code-viewer-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      mat-icon {
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
      }
    }

    .hide {
      display: none;
    }
  }

  @include code-highlight();
}


